@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

p,
span,
a,
.font-questrial {
  font-family: "Questrial", serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.font-rubik {
  font-family: "Rubik", serif;
}
.nav-link a:hover ~ div {
  width: 40px;
  transition: width 0.3s ease-in-out;
}
.primary{
  color: rgb(116, 155, 63);
}